/*sidebar*/
#sidebar{
    width: 200px;
    background-color: lightgrey;
    padding: 20px;
    position: fixed;
    height: 100%;
}

#logo img{
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#language-select-sidebar{
    margin-bottom: 20px;
}

#content{
    margin-left: 240px;
}

/*new chat button*/
#sidebar button{
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#content {
    margin-left: 440px; /* Adjust to accommodate the sidebar width */
}

#chat-box,
#user_message,
#send-button,
#record-speech-button {
    margin-left: 360px; 
}

#chat-box{
    margin-bottom: 240px;
}

