
/* Sidebar */
#sidebar {
    flex-direction: column;
    width: 250px;
    background-color: lightgrey;
    padding: 20px;
    position: fixed;
    height: 100%;
    float: left;
}

#user-manual {
    float: right; 
    background-color: lightgrey;
    width: 250px;
    height: 100%;
    padding: 20px;
    flex-direction: column;
}

h3{
    text-align: center;
}

#footer {
    row-gap: 10px;
    position: fixed;
    bottom: 0;
    left: 10;
    width: 200px;
    background-color: lightgrey; /* Match the sidebar's background color */
    padding: 30px;

}

#language-select {
    font-size: 18px;
    padding: 8px, 12px;
    margin-left: 12px;
}

#footer p {
    font-weight: bold;
    margin: 0; /* Remove default margin */
}

#footer ul {
    padding: 0; /* Remove default padding */
    list-style-type: none; /* Remove bullet points */
}

#footer li {
    font-size: 14px; /* Adjust font size as needed */
}

/* New chat button */
#sidebar button {
    width: 50%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 40px;
    margin-left: 20px;
}

/* Chat and language containers */
.chat-container,
.language-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    margin-right: 68px;
    margin-bottom: 40px;
}

/* Icon styling */
#sidebar i {
    margin-left: 35px;
}

/* Logo */
#logo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -50px;
}

#logo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 100px;
    display: inline-block;
}


/* Adjustments for specific elements */
#chat-box,
#user_message,
#send-button,
#record-speech-button {
    position: relative;
    margin-left: 360px;
    margin-bottom: 10px;
    /* Adjust to move elements to the left */
}

#chat-box {
    display: flex;
    flex-direction: column;
    margin-left: 360px;
    margin-bottom: 190px;
    /* Adjust to create space for other elements */
}